PIMServicesESB/src/main/resources/wsdl/SLVT.wsdl


<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.hughes.bits.slvt" xmlns:core="http://www.hns.com/iag/schemas/core" xmlns:tns1="http://slvt.bits.hughes.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xws="http://www.hughes.com/bits/fuse/bpel/error" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLVTService" targetNamespace="http://com.hughes.bits.slvt" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
 
 <wsdl:types>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.hns.com/iag/schemas/core" targetNamespace="http://www.hns.com/iag/schemas/core" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:complexType name="ResponseStatusType">
		<xs:annotation>
			<xs:documentation>Common Response Status Type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Status">
				<xs:annotation>
					<xs:documentation>Indicates the operation status
						Possible Values :
						0 = SUCCESS
						1 = FAILURE
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResponseCode"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Response Code ( 10 character max) If provided this code should not be an empty string.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>				
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="10"/>
						<xs:pattern value="([A-Za-z0-9])*(:|\-|_| |#)?([A-Za-z0-9])*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResponseMessage"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>This provides a brief response message ( 256 characters max length)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>		
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>						
		</xs:sequence>
</xs:complexType>

<xs:simpleType name="LatitudeType">
	<xs:annotation>
		<xs:documentation>The latitude of the ST.</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:maxLength value="12"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="LongitudeType">
	<xs:annotation>
		<xs:documentation>A simple time that defines the time zone</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:maxLength value="12"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CustomerIDType">
	<xs:annotation>
		<xs:documentation>Service deal can only be used by the customer with this ID. If this field is not provided, deal can be used by all customers.</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:minLength value="2"/>
		<xs:maxLength value="15"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BeamIDType">
	<xs:annotation>
		<xs:documentation>Identify the Beam Type</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:maxLength value="16"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AntennaSizeType">
	<xs:annotation>
		<xs:documentation> A simple type that defines the Ka antennaSize. Unit is meter </xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:float">
		<xs:minInclusive value="0"/>
		<xs:maxInclusive value="3.5"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ODUPowerType">
	<xs:annotation>
		<xs:documentation>ODU Power in watts </xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:float">
		<xs:minInclusive value="0.0"/>
		<xs:maxInclusive value="100.0" fixed="false"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AvailabilityType">
	<xs:annotation>
		<xs:documentation>Availability Levels in %</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:float">
		<xs:minInclusive value="0.0"/>
		<xs:maxInclusive value="100.0" fixed="false"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UserIDType">
	<xs:annotation>
		<xs:documentation>Stores the value of Site-owner for consumers. This value is provided by SM at the time of Site Creation for Consumers</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:minLength value="3"/>
		<xs:maxLength value="25"/>
	</xs:restriction>
</xs:simpleType>
<!-- Satellite Id -->
<xs:simpleType name="SatelliteIdType">
	<xs:annotation>
		<xs:documentation>Satellite Id </xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:minLength value="0"/>
		<xs:maxLength value="100"/>
	</xs:restriction>
</xs:simpleType>
<xs:complexType name="UserCredentialType">
	<xs:annotation>
		<xs:documentation>
			This is a complex type for User Credential, a corresponding
			UserCredential Bean exists in framework
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="LoginId" type="UserIDType"/>
		<xs:element name="SessionKey" minOccurs="0">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="Roles" minOccurs="0" maxOccurs="unbounded">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="SiteCodes" minOccurs="0" maxOccurs="unbounded">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="AuthorizationFlag" type="xs:boolean"/>
	</xs:sequence>
</xs:complexType>

</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://slvt.bits.hughes.com" xmlns:tns1="http://slvt.bits.hughes.com" xmlns:core="http://www.hns.com/iag/schemas/core" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:import namespace="http://www.hns.com/iag/schemas/core"/>

<xs:element name="SLVTRequestMsg">
	<xs:annotation>
		<xs:documentation>Validates that the Service is available at specified location identified by Latitude/Longitude.</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
		    <xs:element name="UserCredential" type="core:UserCredentialType" minOccurs="0"/>
			<xs:element name="Latitude" type="core:LatitudeType"/>
			<xs:element name="Longitude" type="core:LongitudeType"/>
			<xs:element name="ClassACustomerId" type="core:CustomerIDType"/>
			<xs:element name="TransportName" type="tns1:TransportNameType"/>
			<xs:element name="BeamID" type="core:BeamIDType" minOccurs="0"/>
			<xs:element name="SatellitedID" type="core:SatelliteIdType" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="SLVTResponseMsg">
	<xs:annotation>
		<xs:documentation>Validates that the Service is available at specified location identified by Latitude/Longitude.</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Response" type="core:ResponseStatusType"/>
			<xs:element name="SLVTParametersList" type="tns1:SLVTParametersListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>


<xs:complexType name="SLVTParametersListType">
	<xs:annotation>
		<xs:documentation>Represents the SLVT Parameters List</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="SLVTParameters" type="tns1:SLVTParametersType" minOccurs="1" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:simpleType name="TransportNameType">
	<xs:annotation>
		<xs:documentation>The name of the transport. Possible values are : Ju,Ku and Ka</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:minLength value="1"/>
		<xs:maxLength value="256"/>
		<xs:whiteSpace value="collapse"/>
	</xs:restriction>
</xs:simpleType>
<xs:complexType name="SLVTParametersType">
	<xs:annotation>
		<xs:documentation>SLVT parameter information</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="AntennaSize" type="core:AntennaSizeType"/>
		<xs:element name="RadioPower" type="core:ODUPowerType"/>
		<xs:element name="Availability" type="core:AvailabilityType"/>
	</xs:sequence>
</xs:complexType>


</xs:schema>


  </wsdl:types>
  
  <wsdl:message name="SLVTRequestMsg">
		<wsdl:part name="parameters" element="tns1:SLVTRequestMsg" />
	</wsdl:message>
	<wsdl:message name="SLVTResponseMsg">
		<wsdl:part name="parameters" element="tns1:SLVTResponseMsg" />
	</wsdl:message>
	<wsdl:portType name="SLVTService">
		<wsdl:operation name="SLVTOp">				
			<wsdl:input message="tns:SLVTRequestMsg"/>					
			<wsdl:output message="tns:SLVTResponseMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SLVTServiceSOAP" type="tns:SLVTService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SLVTOp">
			<soap:operation
				soapAction="http://www.hughes.com/slvt/SLVTService/SLVTOp" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>			
		</wsdl:operation>
	</wsdl:binding>
	 <plnk:partnerLinkType name="SLVTLinkType">
		<plnk:role name="SLVTServiceRole" portType="tns:SLVTService" />
	</plnk:partnerLinkType>
	<wsdl:service name="SLVTService">
		<wsdl:port name="SLVTServiceImplPort" binding="tns:SLVTServiceSOAP">
			<soap:address
				location="http://cspwsserver:8080/CSP_SLVTService/SLVTService"/>
		</wsdl:port>
	</wsdl:service>  
</wsdl:definitions>

